nav.menu {
  gap: 5rem;
  display: flex;
  align-self: self-start;
  background-color: red;
  align-items: center;
  background: var(--color-c);
  border-bottom: 1px solid var(--color-b);
  filter: drop-shadow(var(--shadow));
}

div.logo img {
  width: 110px;;
}

ul {
  list-style: none;
  width: auto;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  width: auto;
}

ul li a {
  color: var(--color-d);
  text-decoration: none;
  font-size: 18px;
  /* font-weight: 500; */
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  /* background-color: royalblue; */
}

ul li a:hover {
  background: var(--color-b);
  border-color: var(--color-j);
  box-shadow: var(--shadow);
}
